<html>
    <head>
        <title>Authorizathion</title>
    </head>
    <body>
        <form method="post" action="game.php">
                <div>
                    <label><h1>Win or lose?</h1></label>
                    <select name="total">
                        <option value="win">Win</option>
                        <option value="loose">Lose</option>
                    </select>
                </div>
                <div>
                    <input type="submit" value="Play">
                </div>
            </form>
    </body>
</html>