<html>
    <head>
        <title>Authorizathion</title>
    </head>
    <body>
        <h2>Login</h2>
        <form action="login.php" method="post">
                <label>Eneter your nickname</label>
                <input name="name" type="text">
                <label>Select your race</label>
                <select name="race">
                    <option value="1">Ork</option>
                    <option value="2">Elf</option>
                    <option value="3">Human</option>
                </select>
                <input type="submit" value="Login">
        </form>
    </body>
</html>